@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

/* hsl(224, 82%, 56%) */
/* hsl(223, 49%, 34% */

:root {
  --footer: hsl(221, 24%, 20%);
  --Icons: hsl(328, 100%, 50%);
  --gradient-bg: linear-gradient(90deg, hsl(224, 82%, 56%), hsl(223, 49%, 34%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", serif;
}
